{% if config.extra.blog_section_path is defined %}
{% set blog_section_path = config.extra.blog_section_path %}
{% endif %}
<footer>
  <div class="copyright" style="text-align: center; width: 100%;">
    {{ config.extra.footer_copyright }}
    {% if config.extra.footer_credits %}
    <span>|</span>
    Built with <a href="https://www.getzola.org" rel="noreferrer" target="_blank">zola</a> and <a href="https://github.com/isunjn/serene" rel="noreferrer" target="_blank">serene</a>
    {% endif %}
  </div>
</footer>
